/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
}
a {
    color: #4875FF;
}
a:hover {
    color: #4875FF;
    text-decoration: none;
}
button:focus{
    box-shadow: none !important;
    outline: none !important;
}
body > iframe {
    display: none !important;
}
.bg-gradient-1{
    background-image: linear-gradient(to left,#0db2de 0,#005bea 100%)!important;
}
.bg-gradient-2 {
    background-image: linear-gradient(45deg,#f93a5a,#f7778c)!important;
}
.bg-gradient-3 {
    background-image: linear-gradient(to left,#48d6a8 0,#029666 100%)!important;
}
.bg-gradient-4 {
    background-image: linear-gradient(to left,#ffbe4e,#e49a51)!important;
}
.bg-gradient-5 {
    background-image: linear-gradient(to right,#673ab7 0,#884af1 100%)!important;
}
.bg-gradient-6{
    background-image:linear-gradient(to right,#c377e0 0,#c377e0 100%)!important;
}
.bg-gradient-7{
    background-image:linear-gradient(to right,#343a40 0,#6c757d 100%)!important;
}
.bg-gradient-8{
    background-image: linear-gradient(to right,#0099d2,#55ccf9)!important;
}
.bg-gradient-9{
    background-image: linear-gradient(to right,#fb6b25, #fb6b25)!important;
}
.text-nowrap{
    white-space: nowrap;
}
.badge{
    padding: 0.5em 0.7em;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}
.badge-primary {
    color: #fff;
    background-color: #4875FF;
}
.badge-danger {
    color: #fff;
    background-color: #f93a5a;
}
.card{
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    border:none;
}
.admin-auth-wrapper{
    min-height: 100vh;
    position: relative;
    background: url('../img/auth_bg.jpg') no-repeat center / cover;
}
.admin-auth-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
}
.auth-form-light {
    background: #fff;
    max-width: 550px;
    margin: 15px auto;
    border-radius: 20px;
}
.auth-form-logo {
    max-width: 200px;
    margin: 0 auto 30px;
}
.app-header{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.app-header .brand{
    box-shadow: 3px 0px 0px #F6F6F6;
}
.ant-menu{
    background: none;
}
.app-header .menu {
    flex: none;
}
.app-sidebar-content .ant-menu .ant-menu-item{
    padding: 0 !important;
    height: auto;
    line-height: normal;
}
.ant-menu.ant-menu-inline-collapsed {
    width: 100%;
}
.app-header .menu .menu-item .menu-link{
    border: none;
    background: none;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    display: none;
}
.ant-menu-sub.ant-menu-inline{background: none;}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
}
/* .ant-menu-item-selected {
    color: #1f6bff;
    font-weight: 600;
    background: 0 0;
} */
.app-sidebar-content .ant-menu .ant-menu-item{
    width: auto;
    margin-right: 10px !important;
}
.app-sidebar-content .ant-menu .ant-menu-item a {
    padding: 15px 8px 15px 24px;
    color: #6b7176;
    display: block;
    border-radius: 0 25px 25px 0;
    transition: 0.4s;
}
.app-sidebar-content .ant-menu .ant-menu-item a svg{
    margin-right: 5px;
}
.app-sidebar-content .ant-menu .ant-menu-item a.active {
    color: #fff;
    font-weight: 500;
    background:#4875FF;
    letter-spacing: 0.6px;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-submenu-title{
    margin: 0;
}

.app-sidebar .menu .menu-item.active:not(.has-sub)>.menu-link {
    color: #4875FF;
    font-weight: 600;
    background: 0 0;
}
.app-sidebar-content .ant-menu .ant-menu-item a:hover {
    color: #4875FF;
}
.app-sidebar-content .ant-menu .ant-menu-item a.active:hover {
    color: #fff;
}
.app-header .menu-toggler{
    font-size: 22px;
}

.page-heading-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-action-btn .btn{
    margin-right: 10px;
}
.errorMsg::before{
    display: none;
}
.ant-menu-item a:hover{
    text-decoration: none;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span{
    opacity: 1;
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: rgb(72 117 255 / 10%);
}

.card-dashboard h5{
    color: #fff;
}
.card-dashboard p{
    color: #fff;
    margin-bottom: 0;
}
.card-dashboard h2{
    color: #fff;
}

.react-tel-input .form-control{
    width: 100% !important;
}

.kyc_img {
    max-width: 130px;
}
.img-list{
    max-width: 20% !important;
}
.checkboxgroup-scroll ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.checkboxgroup-scroll ul li{
    min-width: 33%;
    max-width: 33%;
    padding-right: 15px;
}


.user-profile-img{
    background: #f5f5f5;
    border-radius: 50%;
}
.hCBnvI{
    background: #f5f5f5 !important;
}
.rdt_Table{
    padding: 0 15px;
}
.rdt_TableHead .rdt_TableHeadRow{
    border: none;
}

.rdt_TableHead, .rdt_TableBody{
    border: 1px solid #dae0ec;
}
.rdt_TableHeadRow .rdt_TableCol{
    border-right: 1px solid #dae0ec;
}
.rdt_TableHeadRow{
    font-size: 15px;
    color: #333;
    font-weight: 600;
}
.rdt_TableBody .rdt_TableCell{
    border-right: 1px solid #dae0ec;
}
/* .rdt_TableBody{
    border: 1px solid #dae0ec;
} */
.rdt_Pagination{
    border-top: 0 !important;
    font-size: 14px !important;
    color: #333 !important;
}

.table-light{
    background-color: #B3BAC1;
}
.table td, .table th{
    padding: 0.85rem 0.65rem;
}
.table thead th{
    font-size: 15px;
    color: #333;
    font-weight: 600;
}
.rdt_TableBody .rdt_TableRow:nth-of-type(odd) {
    background-color: rgba(77, 101, 147, 0.1);
}

.lnndaO{
    font-size: 16px;
    font-weight: 600;
}
.imageTableDataTable{
    width: 40px;
}
input[type="file"].form-control{
    height: 40px;
}
.app-sidebar{
    background: #fff;
    box-shadow: 3px 0px 0px #f6f6f6;
    border: none;
}
.rdt_TableHeader > .sc-bjUoiL{
    font-weight: 600;
}
.rdt_TableCol, .rdt_TableCell {
    padding: 8px 10px !important;
}
.rdt_TableCol .sc-evZas{
    overflow: visible;
    white-space: normal;
    text-overflow: inherit;
}
.rdt_TableCell{
    font-size: 16px;
    font-weight: 400;
}
.flex-label{
    font-weight: 500;
}

.transaction-card-part{
    background-color: #fff;
    padding: 15px;
}
.transaction-list-table .rdt_TableHeadRow .rdt_TableCol .lnndaO{
    white-space: normal;
    text-overflow: inherit;
}

.text-overflow-inherit .rdt_TableBody .rdt_TableRow .rdt_TableCell > div{
    text-overflow: inherit !important;
    overflow: visible;
    white-space: normal;
}

.coming-soon-part{
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: center;
    background-color: #fff;
}
.mainContentSection-sc{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 60px 0px
}
.mainContentSection-sc h1{
    font-size: 48px;
    max-width: 550px;
    font-weight: 700;
    margin-bottom: 25px;
}
.mainContentSection-sc h2{
    font-size: 18px;
    max-width: 300px;
    margin-bottom: 0;
}
.mainContentSection-sc p{
    max-width: 400px;
    margin: auto;
}

.cornerimages-sc img:nth-child(1){
    position: absolute;
    left: 0%;
    top: 0px;
}
.cornerimages-sc img:nth-child(2) {
    position: absolute;
    top: 0%;
    right: 0px;
}
.cornerimages-sc img:nth-child(3) {
    position: absolute;
    bottom: 0%;
    left: 0px;
}
.cornerimages-sc img:nth-child(4) {
    position: absolute;
    bottom: 0%;
    right: 0px;
}
.table-action-btn .btn{
    padding: 4px 6px
}

@media (min-width: 993px){
    .container-sc{
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 767.98px){
    .checkboxgroup-scroll ul li{
        min-width: 50%;
        max-width: 50%;
    }
}
@media (max-width: 600px){
    .cornerimages-sc{
        display: none;
    }
}
@media (max-width: 575.98px){
    .checkboxgroup-scroll ul li{
        min-width: 100%;
        max-width: 100%;
        padding-right: 0px;
    }
}

.chat-user-name{
    display: flex;
    align-items: center;
}
.chat-header-user-img img {
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-user-text-name h5 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0;
}
.chat-main-section {
    background-color: #f3f4f7;
    border-radius: 7px;
}
.chat-header-box{
    padding: 15px;
    border-bottom: 1px solid #dce1f1;
}
.chat-content-box {
    padding: 15px;
    padding-top: 20px;
    min-height: 400px;
    max-height: 400px;
    overflow-x: hidden;
    position: relative;
}
.message-chat-enter-area {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.message-chat-enter-area .form-control {
    background-color: transparent;
    min-height: 40px;
    resize: none;
    font-size: 13px;
    border: 1px solid #ddd;
    padding: 5px 13px;
    border-radius: 2px;
}
.message-chat-enter-area .form-control:focus{
    background-color: transparent;
}
.chat-actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.message-chat-list-sec {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.message-chat-list-sec.right-chat {
    text-align: right;
}
.message-chat-list-sec.left-chat {
    text-align: left;
}
.message-chat-footer {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #dce1f1;
    padding: 10px 12px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
    border-radius: 1px;
}
.message-chat-area {
    max-width: 70%;
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
    color: #fff;
    box-shadow: none;
    margin: 3px;
    position: relative;
}
.message-chat-area .msg-time{
    position: absolute;
    font-size: 11px;
    top: 100%;
    color: #536da3;
    font-weight: 700;
    padding: 2px;
    white-space: nowrap;
}
.message-chat-area p{
    margin-bottom: 0px;
}
.message-chat-list-sec.right-chat .message-chat-area {
    color: #fff;
    background: #1e2e50;
    border-color: #1e2e50;
    text-align: left;
}
.message-chat-list-sec.left-chat .msg-time{
    left: 5px;
} 
.message-chat-list-sec.right-chat .msg-time{
    right: 5px;
} 
.message-chat-list-sec.left-chat .message-chat-area {
    background-color: #d9dbe2;
    color: #000;
}
.message-chat-list-sec.left-chat-second .message-chat-area {
    background-color: #28a745 !important;
    color: #fff;
}
.chat-attach-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    overflow: hidden;
}
.chat-attach-link:hover{
    background-color: #e6e8ec;
}
.file-icon-select i{
    color: #333;
}
.chat-msg-send-btn {
    border: none;
    width: 35px;
    height: 35px;
    padding: 0;
    padding-top: 0px;
    color: #1e2e50;
    border-radius: 4px;
    background-color: #e6e8ec;
}
.chat-msg-send-btn:hover{
    background-color: #1e2e50;
    color: #fff;
}
.chat-msg-send-btn i{
    position: relative;
    left: -1px;
}
.chat-attach-link input[type="file"]{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.message-date p {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 8px 0px;
    letter-spacing: 0.3px;
    color: #7184ad;
}
.message-data p {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 8px 0px;
    letter-spacing: 0.3px;
    color: #7184ad;
}

.rdt_TableCol .rdt_TableCol_Sortable{
    margin-right: 8px;
}

.rdt_TableCol .rdt_TableCol_Sortable .fTxtMi,
.rdt_TableCol .rdt_TableCol_Sortable .bKBwgj{
    opacity: 1;
    /* width: 0; */
}
.rdt_TableCol .rdt_TableCol_Sortable span{
    position: absolute;
    right: 8px;
    font-size: 14px;
    color: #babbbe;
}
/* .rdt_TableCol .rdt_TableCol_Sortable span::before{
    content: "";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    position: absolute;
    right: 8px;
    font-size: 14px;
    color: #babbbe;
}
.rdt_TableCol .rdt_TableCol_Sortable span.fTxtMi::before{
    content: "\f062";
}
.rdt_TableCol .rdt_TableCol_Sortable span.bKBwgj::before{
    content: "\f063";
} */

.rdt_TableRow.btn-sm{
    display: inline-block;
}

@media (max-width: 991px){
    .message-chat-area {
        max-width: 45%;
    }
}


@media (max-width: 767px){
    .message-chat-area {
        max-width: 60%;
    }
}

@media (max-width: 479px){
    .message-chat-area {
        max-width: 90%;
    }
}