

button:focus{
    box-shadow: none !important;
    outline: none !important;
}
.ant-menu{
    background: none;
}
.app-header .menu {
    flex: none;
}
.ant-menu.ant-menu-inline-collapsed {
    width: 100%;
}
.app-header .menu .menu-item .menu-link{
    border: none;
    background: none;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
    display: none;
}
.ant-menu-sub.ant-menu-inline{background: none;}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
}
.ant-menu-item-selected {
    color: #1f6bff;
    font-weight: 600;
    background: 0 0;
}
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-submenu-title{
    margin: 0;
}

.app-sidebar .menu .menu-item.active:not(.has-sub)>.menu-link {
    color: #1f6bff;
    font-weight: 600;
    background: 0 0;
}


.page-heading-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-action-btn .btn{
    margin-right: 10px;
}
.errorMsg::before{
    display: none;
}
.ant-menu-item a:hover{
    text-decoration: none;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span{
    opacity: 1;
}


.react-tel-input .form-control{
    width: 100% !important;
}

.kyc_img {
    max-width: 130px;
}